

.theme-dark {
	--accent-h: 0;
	--accent-s: 0%;
	--accent-l: 100%;
	--text-on-accent: black;
	--slider-track-background: white;
	--slider-thumb-border-color: black;
	--toggle-thumb-color: black;
	--background-primary: rgb(10, 10, 20);
	--background-secondary: rgb(10, 10, 20);
	--background-primary-alt: rgb(10, 10, 20);
	--background-secondary-alt: rgb(10, 10, 20);
	--background-modifier-hover: rgb(10, 10, 20);
	--background-modifier-border: rgb(10, 10, 20);
	--dropdown-background:rgb(30, 30, 50);
	--interactive-normal:rgb(30, 30, 50);
	--text-normal: rgb(212, 212, 212);
	--h1-color: rgb(255, 255, 255);
	--h2-color: rgb(255, 255, 255);
	--h3-color: rgb(255, 255, 255);
	--h4-color: rgb(255, 255, 255);
	--h5-color: rgb(255, 255, 255);
	--h6-color: rgb(255, 255, 255);
	--bold-color: rgb(255, 255, 255);
	--code-normal: rgb(255, 255, 255);
	--code-comment: rgb(100,100,120);
	--code-background: rgb(10, 10, 20);
	--hr-color: #353533;
	--text-muted: rgb(163, 163, 163);
	--font-text-theme: "Departure Mono";
	--font-interface-theme: "Departure Mono";
	--line-height-normal: 1.75;
	--p-spacing: 2.25rem;
	--list-marker-color: #d4d4d4;
	--h1-size: 1.875rem;
	--h1-line-height: 2.25rem;
	--h2-size: 1.5em;
	--h2-line-height: 1.3333333;
	--h3-size: 1.25em;
	--h3-line-height: 1.6;
	--font-monospace-theme: "Departure Mono";
	--h1-weight: 500;
	--h2-weight: 500;
	--he-weight: 500;
	--text-selection: #007bcf;
	--link-decoration: none;
	--link-external-decoration: none;
}

